html, body {
  margin: 0;
  padding: 0;
}

#services {
  display: grid;
  margin: 38px;
  max-width: 1600px;
  min-width: 600px;
  row-gap: 2em;
}

.gallery {
  width: 100%;
}

#productImagesService {
  border-bottom: solid 1px #ebebeb;
  float: left;
  height: 468px;
  max-width: 1024px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 70%;
}

#price-card {
  float: right;
  width: 30%
}

#reviews-service {
  border-bottom: solid 1px #ebebeb;
  max-width: 1024px;
  padding-bottom: 30px;
}
